# General
.DS_Store
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
models/

# Docker
*.tar
*.img
docker-compose.yml
.dockerignore

# Kubernetes
k8s/*.yaml

# Logs
logs
*.log

# IDEs and Editors
.idea/
.vscode/
*.iml
